/*
* custom css changes
*/

body {
	background-color: #222;
}

.navbar-brand  {
	position: absolute;
	width: 100%;
	text-align: right;
}

.footline {
	width: 165%;
}

.footer {
	color: #fff;
	position: absolute;
	text-align: left;
	bottom: 5px;
}

/*
* css for main page display
*/
.display {
	padding-top: 80px;
}